.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .image {
    width: 100%;
    border-radius: 8px;
  }
  
  .name {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
  }
  
  .detailsLink {
    color: #00b140;
    text-decoration: none;
    font-weight: bold;
  }
  
  .detailsLink:hover {
    color: #00b140;
  }
  